@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/vars.scss';

body {
    font-family: Arial, sans-serif;
    background-image: url(./media/images/banners-footers/site_layout_home_background.png);
}

.bg-vic-pink {
    background: rgba($theme-color, 0.79);
}